{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_content %}{% endblock %}
        <meta name="google-signin-client_id" content="541322088910-o44t5oof2fr0hfjb4j4r3n27k67g2avb.apps.googleusercontent.com">

        <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="eligible">Scholarship Calculator</a>
                </div>
                <ul class="nav navbar-nav">
                    {% block side_nav_content %}{% endblock %}
                </ul>
                <ul class="nav navbar-right">
                    <button type="button" class="btn btn-link navbar-btn" onclick="signOut();">Sign out</button>
                </ul>
            </div>
        </nav>


        {% csrf_token %}
        <div class="g-signin2" data-onsuccess="onSignIn" style="display: none;"></div>

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script type="text/javascript" src="{% static 'app/js/gsignout.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    </body>
</html>
