<!DOCTYPE html>
<html>
    <head>
        <title>Eligible</title>
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta name="google-signin-client_id" content="541322088910-o44t5oof2fr0hfjb4j4r3n27k67g2avb.apps.googleusercontent.com">
    </head>
    <body>
        {% csrf_token %}
        <button id="signOut" style="display:none" onclick="signOut();">Sign out</button>
        <a href="wverify">webmail verification</a>
        <a href="saved">saved scholarships</a>
        <a href="profile">profile</a>
        {% if scholarship_list %}
            <ul>
            {% for scholarship in scholarship_list %}
                <li>{{ scholarship.scholarship_name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No Available Scholarships</p>
        {% endif %}
        <script>
            // using jQuery
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function signOut() {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'glogout');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                var csrftoken = getCookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.onload = function () {
                    console.log(xhr.responseText);
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                        console.log('User signed out.');
                        document.location.href = 'login';
                    });
                };
                xhr.send('signout=now');
            }
            function onLoad() {
                gapi.load('auth2', function() {
                    gapi.auth2.init();
                });
                var signOutButton = document.getElementById('signOut');
                signOutButton.style.display = 'block';
                console.log('sign out is shown');
            }
        </script>
    </body>
</html>
