{% extends "app/base.html" %}

{% block head_content %}
    <title>Eligible</title>
{% endblock %}

{% block side_nav_content %}
    <li role="presentation" class="active"><a href="eligible">eligible</a></li>
    <li role="presentation"><a href="profile">profile</a></li>
    <li role="presentation"><a href="saved">saved scholarships</a></li>
    <li role="presentation"><a href="wverify">webmail verification</a></li>
    <button onclick="signOut();">Sign out</button>
{% endblock %}

{% block content %}
    <main>
        {% if scholarship_list %}
                {% for scholarship in scholarship_list %}
                    <h3>{{ scholarship.scholarship_name }}</h3>
                {% endfor %}
        {% else %}
            <p>No Available Scholarships</p>
        {% endif %}
    </main>
{% endblock %}
