<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="541322088910-o44t5oof2fr0hfjb4j4r3n27k67g2avb.apps.googleusercontent.com">
</head>
<body>
<center>

<h1 >login with gmail</h1>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
{% csrf_token %}
<script>
    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'gverify');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            console.log('Signed in as: ' + xhr.responseText);
            //document.location.href = 'eligible'; TODO
        };
        xhr.send('idtoken=' + id_token);
    }
</script>

<h1>login with webmail</h1>
<a href="#" onclick="signOut();">Sign out</a>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>
    </center>
</body>
</html>
