{% extends "app/base.html" %}

{% block head_content %}
    <title>Profile</title>
{% endblock %}

{% block side_nav_content %}
    <li role="presentation"><a href="eligible">Eligible Scholarships</a></li>
    <li role="presentation" class="active"><a href="profile">Profile</a></li>
    <li role="presentation"><a href="saved">Saved Scholarships</a></li>
    <li role="presentation"><a href="wverify">Webmail Verification</a></li>
{% endblock %}

{% block content %}
    <main>
        {% include 'app/profile_form.html' %}
    </main>
{% endblock %}