{% extends "app/base.html" %}

{% block head_content %}
    <title>Profile</title>
{% endblock %}

{% block side_nav_content %}
    <li role="presentation"><a href="eligible">eligible</a></li>
    <li role="presentation" class="active"><a href="profile">profile</a></li>
    <li role="presentation"><a href="saved">saved scholarships</a></li>
    <li role="presentation"><a href="wverify">webmail verification</a></li>
    <button onclick="signOut();">Sign out</button>
{% endblock %}

{% block content %}
    <main>
        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    </main>
{% endblock %}