{% extends "app/base.html" %}

{% block head_content %}
    <title>Profile</title>
{% endblock %}

{% block side_nav_content %}
    <li role="presentation"><a href="eligible">Eligible Scholarships</a></li>
    <li role="presentation" class="active"><a href="profile">Profile</a></li>
    <li role="presentation"><a href="saved">Saved Scholarships</a></li>
    <li role="presentation"><a href="wverify">Webmail Verification</a></li>
{% endblock %}

{% block content %}
    <main>
        <div class="alert alert-info col-md-10 col-md-offset-1" role="alert">If there is a field in the form that doesn't concern you, leave it empty.</div>
        <form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.person_name.errors }}
                <label for="{{ form.person_name.id_for_label }}" class="control-label col-sm-2">Name</label>
                <div class="col-sm-4">
                    {{ form.person_name }}
                </div>
            </div>
            <div class="form-group">
                {{ form.birth_date.errors }}
                <label for="{{ form.birth_date.id_for_label }}" class="control-label col-sm-2">Birth date</label>
                <div class="col-sm-2">
                    {{ form.birth_date }}
                </div>
            </div>
            <div class="form-group">
                {{ form.gender.errors }}
                <label for="{{ form.gender.id_for_label }}" class="control-label col-sm-2">Gender</label>
                <div class="col-sm-2">
                    {{ form.gender }}
                </div>
            </div>
            <div class="form-group">
                {{ form.family_income.errors }}
                <label for="{{ form.family_income.id_for_label }}" class="control-label col-sm-2">Family Income</label>
                <div class="col-sm-2">
                    {{ form.family_income }}
                </div>
            </div>
            <div class="form-group">
                {{ form.category.errors }}
                <label for="{{ form.category.id_for_label }}" class="control-label col-sm-2">Category</label>
                <div class="col-sm-4">
                    {{ form.category }}
                </div>
            </div>
            <div class="form-group">
                {{ form.education.errors }}
                <label for="{{ form.education.id_for_label }}" class="control-label col-sm-2">Education</label>
                <div class="col-sm-4">
                    {{ form.education }}
                </div>
            </div>
            <div class="form-group">
                {{ form.current_cpi.errors }}
                <label for="{{ form.current_cpi.id_for_label }}" class="control-label col-sm-2">Current CPI</label>
                <div class="col-sm-1">
                    {{ form.current_cpi }}
                </div>
            </div>
            <div class="form-group">
                {{ form.citizen_india.errors }}
                <label for="{{ form.citizen_india.id_for_label }}" class="control-label col-sm-2">Citizen of india</label>
                <div class="col-sm-2">
                    {{ form.citizen_india }}
                </div>
            </div>
            <div class="form-group">
                {{ form.religion.errors }}
                <label for="{{ form.religion.id_for_label }}" class="control-label col-sm-2">Religion</label>
                <div class="col-sm-3">
                    {{ form.religion }}
                </div>
            </div>
            <div class="form-group">
                {{ form.student_type.errors }}
                <label for="{{ form.student_type.id_for_label }}" class="control-label col-sm-2">Student Type</label>
                <div class="col-sm-3">
                    {{ form.student_type }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        </form>
    </main>
{% endblock %}