{% extends "app/base.html" %}

{% block head_content %}
    <title>Webmail verification</title>
{% endblock %}

{% block side_nav_content %}
    <li role="presentation"><a href="eligible">Eligible Scholarships</a></li>
    <li role="presentation"><a href="profile">Profile</a></li>
    <li role="presentation"><a href="saved">Saved Scholarships</a></li>
    <li role="presentation" class="active"><a href="wverify">Webmail Verification</a></li>
{% endblock %}

{% block content %}
    <main>
        <div class="alert alert-warning col-md-10 col-md-offset-1" role="alert">This is not working currently. Unable to connect to webmail server.</div>
        <form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.webmail_id.errors }}
                <label for="{{ form.webmail_id.id_for_label }}" class="control-label col-sm-2">Webmail ID</label>
                <div class="col-sm-3">
                    {{ form.webmail_id }}
                </div>
            </div>
            <div class="form-group">
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}" class="control-label col-sm-2">Password</label>
                <div class="col-sm-3">
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group">
                {{ form.server.errors }}
                <label for="{{ form.server.id_for_label }}" class="control-label col-sm-2">Server</label>
                <div class="col-sm-2">
                    {{ form.server }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        </form>
    </main>
{% endblock %}